* {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.heading {
  width: 960px;
  height: 40px;
  margin-left: auto; margin-right: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #777777;
}
a {
  padding: 2px;
  text-decoration: none;
  color: #222222;
  text-align: center;
}
a.name {
  float: left;
  background-color: #4aaaa5;
  font-size: 24px;
}
ul {
  float: right;
  background-color: #ffffff;
  height: 28px;
  list-style-type: none;
  margin: 5px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
}
li {
  display: inline;
  margin: 0; padding: 0;
}
.page {
  border-top: solid; border-color: #777777;
  background-image: url("../images/fancy-cushion.png");
  background-repeat: repeat;
  height: 1000px;
  width: 100%;
}
.full { 
  padding-top: 20px;
  margin-left: auto; margin-right: auto;
  border-top: solid; border-width: 2px; border-color: #dddddd;
  font-family: 'Georgia', Times, Times, serif;
}
.write {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  height: auto;
  max-width:960px;
  padding-top: 5px; padding-bottom: 5px;
}
.about {
  margin: 10px;
  color: #4aaaa5;
  border: bold; border-color:  #666666;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
  width: 960px;
  background-color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #222222;
  word-wrap: normal;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}
img {
  height: 160px; width: 200px;
  margin: 0; padding: 4px;
  float: left;
  
}
.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #666666;
  color: white;
  padding: 4px;
  text-align: center;
  border-top: 8px solid #4aaaa5;
}